  /* --------------------- About section  --------------------- */
  
.about{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  min-height: 130vh; 
  }

.about h1{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0%;
    width: 100%;
    text-align: center;
    font-size: 5vw;
    letter-spacing: 2px;
    color: antiquewhite;
}

.about ul{
    position: absolute;
    top: 10%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about ul li{
    height: 4rem;
    display: flex;
    overflow: hidden;
    margin-bottom: 0.5rem;
    justify-content: center;
}

.about ul li span{
    display: block;
    line-height: 4rem;
    font-size: 2vw;
    font-weight: lighter;
    margin: 0.05rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transform: translateY(200%);
}

.about ul li span a{
  text-decoration: none;
  transition: 1s;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

.about ul li span a[href="https://it.pk.edu.pl/"]{
  color: #c38352;
}

.about ul li span a[href="https://sigarra.up.pt/feup/pt/web_page.inicial"]{
  color: #67c92f;
}


.about ul li span.active{
    transform: translateY(0%);
    transition: .3s ease-out;
}

.about ul li:hover{
    opacity: 0.8;
    cursor: default;
}

.gap{
    width: 1rem;
}


/* ----------------------------------------- Responsive ----------------------------------------- */
@media (max-width: 500px) {
  .about{
    padding: 0px;
    margin: 0px;
    position:relative;
    height: 250vh;
  }
  .about h1{
    font-size: 1.75rem;
  }
  
  .about ul{
    position: relative;
    height: 220vh;
    top: 0rem;
  }
  .about ul li{
    min-height: 8rem;
    display: flex;
    overflow: hidden;
    margin: 0rem;
    justify-content: center;
}
  .about ul li span{
    display: block;
    line-height: 2rem;
    font-size: 5vw;
  }
}