  /* --------------------- About section  --------------------- */
  
.about{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  min-height: 200vh; 
  }

.about h1{
    position: absolute;
    top: 40vh;
    width: 100%;
    text-align: center;
    font-size: 6rem;
    letter-spacing: 2px;
}

.about ul{
    position: absolute;
    right: 5%;
    top: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about ul li{
    height: 4rem;
    display: flex;
    overflow: hidden;
    margin-bottom: 0.5rem;
    justify-content: center;
}

.about ul li span{
    display: block;
    line-height: 4rem;
    font-size: 4rem;
    margin: 0.05rem;
    transform: translateY(200%);
}

.about ul li span.active{
    transform: translateY(0%);
    transition: 1s ease-out;
}

.about ul li:hover{
    opacity: 0.5;
    cursor: pointer;
}

.gap{
    width: 1rem;
}