.canvas {
    position: fixed !important;
    top: 0px;
    left: 0px;
    width: 100vw !important;
    height: 100vh !important;
  }
.view {
    margin: 0.2em;
    width: 400px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
  }