.canvas {
    position: fixed !important;
    top: 0px;
    left: 0px;
    width: 100vw !important;
    height: 100vh !important;
  }
.view {
    margin: 0.2em;
    width: 10vw;
    height: 10vh;
    display: inline-block;
    overflow: hidden;
  }

.scale{
  height: 30vh;
  position: relative;
}

.journal{
  left:50vw;
  top: 10vh;
}

.nietzsche{
  left: 10vw;
  top: 5vh;
}

.dostoyevsky{
  left: 15vw;
  top: 25vh;
}

.tolstoy{
  left: 10vw;
  top: 5vh;
}