* {
  margin: 0;
  padding: 0;
}

html,
body {
  /* overflow-x: hidden; */
  /* width:100vw; */
}

html{
  background-color: #1B1F24;
  /* background-color: #282c34; */
  scroll-behavior: smooth;
  height: auto;
  width: 100vw;
  /* overflow-y: hidden; */
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hello-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* canvas{
  touch-action: none;
} */

#root {
  /* position: fixed; */
  /* max-height: 100vh;
  max-width: 100vw; */
  background-color: #435974;
}

.section
{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    /* overflow-x: hidden; */
    position: relative;
    font-family: 'Cabin', sans-serif;
    color: #ffeded;
    text-transform: uppercase;
    /* font-size: 7vmin; */
    /* width: 100%; */
    /* height: 100%; */
    /* padding-left: 10%; */
    /* padding-right: 10%; */
}