.canvas {
  position: fixed !important;
  top: 0px;
  left: 0px;
  width: 100vw !important;
  height: 100vh !important;
}
.view {
    margin: 0.2em;
    width: 15vw;
    height: 25vh;
    display: inline-block;
    overflow: hidden;
  }

.scale{
  /* height: 30vh; */
  position: relative;
}

.journal{
  left:65vw;
  top: 25vh;
}

.penguine{
  left: 15vw;
  top: 0vh;
}

.duck{
  left: 15vw;
  top: 25vh;
}

.fox{
  left: 10vw;
  top: 0vh;
}


/* ----------------------------------------- Responsive ----------------------------------------- */
@media (max-width: 500px) {
    .view {
      margin: 0.2em;
      width: 40vw;
      height: 40vh;
      display: flex;
      flex-direction: column;
      }
    
    .scale{
      /* height: 30vh; */
      position: relative;
    }
    
    .journal{
      left:0vw;
      top: 30vh;
    }
    
    .penguine{
      left: 0vw;
      top: 30vh;
    }
    
    .duck{
      left: 0vw;
      top: 30vh;
    }
    
    .fox{
      left: 0vw;
      top: 30vh;
    }
}