.projects{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    max-width: 100vw;
    min-height: 300vh;
    font-size: small;
    color: black;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    z-index: 1;
}

.pile{
    width: 90%;
    position: relative;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5rem 0px;
}

.projects-container{
    height: 115%;
    align-items: center;
    justify-content: center;
    perspective: 1000px;
    display: flex;
}

.bird{
    transition: top 1s;
    position: relative;
    top:20px;
}


.bird:hover{
    top: -5px;
}

.bird:hover .info{
    transform: translateZ(100px);
}

.bird:hover .circle{
    /* pass */
}

.bird:hover .img-card{
    transform: translateZ(100px);
}

.bird:hover #img-self-bird{
    transform: rotateZ(-15deg) translateX(20px) translateY(5px);
}


.supervision{
    transition: top 1s;
    position: relative;
    top:20px;
}

.supervision:hover{
    top: -5px;
}

.supervision:hover .info{
    transform: translateZ(100px);
}

.supervision:hover .circle{
    transform: scale(1.1);
}

.supervision:hover .img-card{
    transform: translateZ(100px);
}


.compiler{
    transition: top 1s;
    position: relative;
    top:20px;
}

.compiler:hover{
    top: -5px;
}

.compiler:hover .info{
    transform: translateZ(100px);
}

.compiler:hover .circle{
    transform: scale(1.1);
}

.compiler:hover .img-card{
    transform: translateZ(100px);
}

.lbaw{
    transition: top 1s;
    position: relative;
    top:20px;
    }


.lbaw:hover{
    top: -5px;
    }

.lbaw:hover .info{
    transform: translateZ(100px);
    }

.lbaw:hover .circle{
    transform: scale(1.1);
    }

.lbaw:hover .img-card{
    transform: translateZ(100px);
    }


.ltw{
    transition: top 1s;
    position: relative;
    top:20px;
    }


.ltw:hover{
    top: -5px;
    }

.ltw:hover .info{
    transform: translateZ(100px);
    }

.ltw:hover .circle{
    transform: scale(1.1);
    }

.ltw:hover .img-card{
    transform: translateZ(100px);
    }


.tsp-ai{
    transition: top 1s;
    position: relative;
    top:20px;
    }


.tsp-ai:hover{
    top: -5px;
    }

.tsp-ai:hover .info{
    transform: translateZ(100px);
    }

.tsp-ai:hover .circle{
    transform: scale(1.1);
    }

.tsp-ai:hover .img-card{
    transform: translateZ(100px);
    }


.tsp-da{
    transition: top 1s;
    position: relative;
    top:20px;
    }


.tsp-da:hover{
    top: -5px;
    }

.tsp-da:hover .info{
    transform: translateZ(100px);
    }

.tsp-da:hover .circle{
    transform: scale(1.1);
    }

.tsp-da:hover .img-card{
    transform: translateZ(100px);
    }


.r3f{
    transition: top 1s;
    position: relative;
    top:20px;
    }


.r3f:hover{
    top: -5px;
    }

.r3f:hover .info{
    transform: translateZ(100px);
    }

.r3f:hover .circle{
    transform: scale(1.1);
    }

.r3f:hover .img-card{
    transform: translateZ(100px);
    }


.projects-card{
    /* min-height: 80vh; */
    /* position: absolute;
    right: 100%; */
    transform-style: preserve-3d;
    height: 40rem;
    width: 23rem;
    border-radius: 30px;
    padding: 0 2rem;
    /* transform: translateZ(2rem); */
    background-color: #0e0f11;
    box-shadow: 0 20px 20px rgba(0,0,0,0.2), 0px 0px 50px rgba(0,0,0,0.2);
}

.img-card{
    min-height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
    border-radius: 50%;
}

.img-card img{
    width: 10rem;
    height: 10rem;
    z-index: 2;
    transition: all 2s ease;
    object-fit: cover;
    border-radius: inherit;
}

.circle{
    width: 10rem;
    height: 10rem;
    background: linear-gradient(
        to right,
        rgba(146, 206, 226, 0.75),
        rgba(88, 114, 178, 0.75),
        rgba(112, 83, 122, 0.75)
    );
    position: absolute;
    margin: 0;
    padding: 0;
    border-radius: 50%;
    z-index: 1;
    /* transform: translateZ(100px); */
    transition: all 0.5s ease;
}

.info{
    transition: all 0.5s ease;
}

.info h1{
    font-size: 1.5rem;
    padding: 0rem 0rem;
    margin: 0;
    color: #6aa5ee;
    font-weight: lighter;
    text-align: center;
}

.info h3{
    font-size: 1rem;
    padding: 2rem 0rem;
    color: #e296ec;
    font-weight: lighter;
    text-align: center;
    line-height: 1.6rem;
    text-transform: none;
}

.readmore{
    margin-top: 0rem; 
}

.readmore button{
    width: 100%;
    padding: 1rem 0rem;
    background: #7784AC; /* #085796 */
    border: none;
    color: #0e0f11;
    cursor: pointer;
    border-radius: 30px;
    font-weight: bolder;
}
