.App {
    font-family: sans-serif;
    text-align: center;
  }
  
  .video-container {
    height: 200vh;
  
    .video-content {
      // height: 100vh;
      width: 100%;
      position: sticky;
      top: 0;
  
      video{
        height: 1000px; 
        width: 1000px;
        object-fit: cover;
      }
  
      .text-content{
        position: absolute;
        top: 0;
        right: 0;
        color: red;
      }
    }
  
  
  }
  
  .more{
    min-height: 200vh;
    /* height: 200vh; */
}